.icon {
  position: relative;
  width: 49.05px;
  height: 28.32px;
}
.logoMobile {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-10xs) var(--padding-3xs);
}
.frameChild {
  position: relative;
  width: 28px;
  height: 28px;
}
.frameWrapper {
  width: 28px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.layer2Icon {
  position: relative;
  width: 128.09px;
  height: 19.13px;
  overflow: hidden;
  flex-shrink: 0;
}
.frameParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 29.19px;
}
.frameParent,
.logoDesktopInner {
  justify-content: flex-start;
}
.logoDesktop,
.logoDesktopInner,
.seaclubLogos {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logoDesktop {
  height: 35.74px;
  justify-content: center;
  padding: var(--padding-10xs) var(--padding-3xs);
  box-sizing: border-box;
}
.seaclubLogos {
  justify-content: flex-start;
}
.messageIcon {
  position: relative;
  width: 24px;
  height: 24px;
}
.avatarProfile,
.divLinks,
.messages,
.notification {
  display: flex;
  align-items: center;
  justify-content: center;
}
.messages,
.notification {
  border-radius: var(--br-11xl);
  width: 40px;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  padding: var(--padding-5xs);
  box-sizing: border-box;
}
.avatarProfile,
.divLinks {
  flex-direction: row;
}
.avatarProfile {
  border-radius: 86.96px;
  background-color: var(--white-50);
  box-shadow: 0 1.7391304969787598px 4.35px rgba(103, 110, 118, 0.08),
    0 0 0 0.87px rgba(103, 110, 118, 0.16),
    0 0.8695652484893799px 0.87px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  padding: 6.086956977844238px;
}
.divLinks {
  flex-wrap: wrap;
  gap: var(--gap-8xs);
}
.menuDefaultMobileChild {
  position: relative;
  width: 35.85px;
  height: 35.85px;
}
.divNavbarapp,
.menuDefaultMobile {
  flex-direction: row;
  align-items: center;
}
.menuDefaultMobile {
  border: 0;
  padding: 4.576271057128906px;
  background-color: transparent;
  display: none;
  justify-content: center;
}
.divNavbarapp {
  position: sticky;
  top: 0;
  left: calc(50% - 1201.09px);
  background-color: var(--white-50);
  display: flex;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-11xl);
  z-index: 20;
}
@media screen and (max-width: 960px) {
  .logoMobile {
    display: flex;
  }
  .avatarProfile,
  .logoDesktop,
  .messages,
  .notification {
    display: none;
  }
  .menuDefaultMobile {
    display: flex;
  }
  .divNavbarapp {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .avatarProfile,
  .frameParent {
    display: none;
  }
  .divNavbarapp {
    padding-left: var(--padding-3xs);
    padding-right: var(--padding-3xs);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 393px) {
  .seaclubLogos {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .divNavbarapp {
    padding-left: var(--padding-3xs);
    padding-right: var(--padding-3xs);
    box-sizing: border-box;
  }
}
