.profileIcon {
  position: relative;
  width: 20px;
  height: 20px;
}
.property1pressed {
  background-color: var(--sea-700);
  width: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-6xl);
  box-sizing: border-box;
}
