.text {
  position: relative;
}
.property1default {
  border-radius: var(--br-81xl);
  background-color: var(--sea-10);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-3xs) var(--padding-5xs)
    var(--padding-xl);
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--sea-700);
  font-family: var(--font-helvetica-now-display);
}
